.addmovie_container {
    padding: 1rem;

    @media screen and (min-width: 500px){
        padding: 2rem;
    }

    @media screen and (min-width: 768px){
        display: flex;
        justify-content: center;
    }
}

.addmovie_wrapper {
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 800px;

    @media screen and (min-width: 768px){
        padding: 4rem 2rem;
    }


    .add_controls {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;


        @media screen and (min-width: 768px){
            gap: 0.75rem;
        }

        label {
            font-size: 0.85rem;
            opacity: 0.5;
        }
    }

    h1 {
        color: var(--theme-color);
    }
}