
.movies_container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @media screen and (min-width: 480px) {
        padding: 2rem;
    }
}

.movies_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: unset;

    .add_btn {
        font-size: 0.75rem;

        @media screen and (min-width: 768px) {
            font-size: 0.9rem;
        }
    }
}

.movies_top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.movies_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.movies {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

// pagination controls
.pagination_controls {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.MuiPagination-root {
    button {
        color: #FFF;
        background-color: var(--secondary-color);

        &:hover {
            background-color: var(--theme-color);
        }
    }
}


// search controls
.search_controls {
    display: flex;
}
.search_input {
    border: 1px solid var(--secondary-color);
    width: 100%;

    &:focus,
    &:hover {
        outline: 2px solid var(--secondary-color);
    }
}


// sort controls
.sorts_large {
    display: none;
}

.sorts_small {
    @media screen and (min-width: 600px) {
        display: none
    }
}

.medium_sorts {
    @media screen and (max-width: 600px) {
        display: none;
    }
}
