.movies_container {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.movies_top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 90%;
    }

    @media screen and (min-width: 1440px) {
        width: 60%;
    }
}

.pagination_controls {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.movies_wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.movies_title {
    color: var(--theme-color);
}

.MuiPagination-root {
    button {
        color: #FFF;
    }
}

.search_controls {
    display: flex;
}
.search_input {
    border: 1px solid var(--secondary-color);
    width: 100%;

    &:focus,
    &:hover {
        outline: 2px solid var(--secondary-color);
    }
}

.sort_controls {
    display: flex;
    border: 1px solid red;
    justify-content: flex-end;
    gap: 1rem;
}