
.thumbnail_cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.thumbnail_upload {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.remove_thumbnail {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    margin-top: 0.5rem;
    color: var(--tertiary-color);

    &:hover,
    &:focus {
        cursor: pointer;
        opacity: 0.7;
    }
}

.remove_text {
    font-size: 0.75rem;
}

.edit_clear {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}