@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #121212;
  --secondary-color: #323232;
  --tertiary-color: #FF7597;
  --theme-color: #BB86Fc;
  --alert-color: #03DAC5;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Limelight', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #FFFFFF;
  font-family: var(--primary-font);
}

input, textarea {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--primary-color);
  color: #FFF;
  letter-spacing: 0.75px;
  font-family: var(--primary-font);

  caret-color: var(--theme-color);

  @media screen and (min-width: 1440px) {
    font-size: 1rem;
  }
}

textarea {
  resize: none;
  height: 120px;
}

button {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--theme-color);
  border: none;
  font-family: var(--primary-font);
  font-size: 0.9rem;

  @media screen and (min-width: 1140px) {
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(187,134,252, 0.8);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgba(187,134,252, 0.4);
  }
}
